@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.contactContainer {
  position: relative;
  width: 100%;
  padding: 2rem;
  padding-top: 3rem;
  background: none;
  font-family: 'Comfortaa', sans-serif !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.89);
  z-index: 10;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contactForm {
  background-color: #1abc9c;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.circle .one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle .two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contactForm:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.innerForm {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.contactTitle {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.inputContainer {
  position: relative;
  margin: 1rem 0;
}

.inputContainer input::placeholder,
.inputContainer textarea::placeholder {
  color: whitesmoke;
  opacity: 1;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-family: 'Comfortaa', sans-serif !important;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.contactInfo {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contactInfo .contactTitle {
  color: #1abc9c;
}

.text {
  color: #fff;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #fff;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.contactInfo:before {
  content: '';
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.bigCircle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.bigCircle:after {
  content: '';
  position: absolute;
  width: 360px;
  height: 360px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

.error {
  font-size: 0.88rem;
  color: red;
  padding-top: 4px;
  padding-left: 20px;
  font-weight: 900;
}

.errorInput input,
.errorInput textarea {
  border: 2px solid #d30a0a;
  box-shadow: 0 2px 4px red;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contactInfo:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contactForm:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .bigCircle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }
}

@media (max-width: 480px) {
  .contactContainer {
    padding: 1.5rem;
  }

  .contactInfo:before {
    display: none;
  }

  .square,
  .bigCircle {
    display: none;
  }

  .text,
  .information {
    font-size: 0.8rem;
  }

  .contactTitle {
    font-size: 1.15rem;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
