html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #000;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
          @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
          @import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
          @import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

.wraper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  
}

.wraper::-webkit-scrollbar-track {
  background: #000;
}

.outerWraper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: #323f7f00;
  width: 100vw;
}

.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Comfortaa', cursive;
}

.wrapper .table {
  background: #fff;
  width: calc(33vw - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 30px rgb(255 174 243 / 26%);
  margin: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  color: rgba(255, 255, 255, 0.733);
  background-color: rgb(14 29 51 / 60%);
}

.table .price-section {
  display: flex;
  justify-content: center;
}

.table .price-area {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}

.price-area .inner-area {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}

.price-area .inner-area .text {
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
  top: -2rem;
}

.price-area .inner-area .price {
  font-size: 45px;
  font-weight: 500;
  top: -0.3rem;
}

.premium.price-area .inner-area .price {
  font-size: 65px;
  font-weight: 500;
  top: -0.3rem;
}

.table .package-name {
  width: 100%;
  height: 2px;
  margin: 35px 0;

}

.package-name {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.centerTextPrizeSection {
  text-align: center;

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: -0.86rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1rem;
  padding: 0 1rem;

  background-color: rgba(255, 255, 255, 0);

}

.table .package-name {
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;

}

.table .features li {
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
}

.features li .list-name {
  font-size: 17px;
  font-weight: 400;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  font-size: 0.8rem;
}

.features li .icon {
  font-size: 15px;
}

.features li .icon.check {
  color: #2db94d;
}

.features li .icon.cross {
  color: #cd3241;
}

.table .btn {
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.table .btn button {
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.table .btn button:hover {
  border-radius: 5px;
}

.basic .features li::selection {
  background: #ffd861;
}

.basic ::selection,
.basic .price-area,
.basic .inner-area {
  background: #61d2ff00;
}

.basic .btn button {
  border: 2px solid #ffd861;
  background: #fff;
  color: #ffd861;
}

.basic .btn button:hover {
  background: #ffd861;
  color: #fff;
}

.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button {
  background: #a26bfa00;
}

.premium .btn button:hover {
  background: #833af8;
}

.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area {
  background: #43ef8b00;
}

.ultimate .btn button {
  border: 2px solid #43ef8b;
  color: #43ef8b;
  background: #fff;
}

.ultimate .btn button:hover {
  background: #43ef8b;
  color: #fff;
}

.basic .package-name {
  background: #ffecb300;
}

.premium .package-name {
  background: #d0b3ff00;
}

.ultimate .package-name {
  background: #baf8d400;
}


::selection {
  color: #fff;
}

.table .ribbon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}

.table .ribbon span {
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 0.5rem;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(255, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .wrapper .table {
    width: 90%;
    border-radius: 1rem;
  }

  .table .features li {
    justify-content: center;
  }
}

.glare-wrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(33vw - 20px);
  height: calc(100% - 2rem);
  overflow: hidden;
  border-radius: 1rem;
  -webkit-mask-image: -webkit-radial-gradient(center, white, black);
}