.container {
  background: linear-gradient(to bottom, #142f46, #193149, #0c2135, #07192b);
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: fit-content;
}
.banner {
  z-index: 1000;
  transform: scale(1.2);
  position: absolute;
  top: -50px;
  left: 33.5%;
  width: 33%;
  justify-content: center;
}
.button_container {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  z-index: 1000;
}
.base {
  position: fixed;
  bottom: 0px;
  z-index: 2;
}
.stars {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0;
}

.camp {
  z-index: 3;
  position: fixed;
  width: 25%;
  right: 37.5%;
  bottom: 0px;
}
.mount {
  z-index: 1;
  position: fixed;
  bottom: 0px;
  left: 0%;
}
.trees1,
.trees2,
.trees3 {
  transform: scale(2);
  position: fixed;
  bottom: 0px;
  z-index: 2;
}
.trees1 {
  left: -5%;
  bottom: -40px;
}
.trees2 {
  left: 13%;
  bottom: -20px;
}
.trees3 {
  right: 15%;
  bottom: -20px;
}
.hills {
  position: fixed;
  bottom: -53%;
  z-index: 1;
  left: -8%;
}
.cloud1 {
  top: 20%;
  right: 10%;
  position: fixed;
  animation: bounce 2s ease-in-out 0s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-4px);
  }
}
.cloud2 {
  top: 20%;
  left: 10%;
  position: fixed;
  animation: bounce 3.5s ease-in-out 2s infinite alternate;
}

@media screen and (max-width: 767px) {
  .banner {
    top: -10px;
    left: 10%;
    width: 80%;
  }
  .button_container {
    margin-top: 30px;
  }
  .camp {
    right: 15%;
    bottom: -2%;
    width: 70%;
  }
  .base {
    bottom: 20px;
  }
  .hills {
    bottom: -30%;
    left: -60%;
    width: 200%;
  }

  .trees1 {
    left: -55%;
    bottom: -40px;
    z-index: 20;
  }
  .trees2 {
    left: 0%;
  }
  .trees3 {
    right: 0%;
    bottom: -50px;
  }
}
