/* socaial media embed in website --- Alim Khan */
.body {
  box-sizing: border-box;
  margin-top: 0px;
  background: rgb(50, 75, 255);
  height: 100vh;
  padding: 40px 0px;
}
.slider {
  margin: auto auto;
  padding: 34px 0px;
  width: 50%;

  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
}
