/* Number Bar */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.numberbar {
  width: 100%;
  align-items: center;
  position: absolute;
  top: -30px;
  left: 0;
  display: flex;
  flex-direction: row;
  min-height: 60px;
}

.timeline_item:nth-child(odd) .numberbar {
  flex-direction: row-reverse;
}

.numberbar_id {
  border-width: 5px;
  border-style: solid;
  background-color: #000;
  position: relative;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
}

.numberbar_id h1 {
  font-size: clamp(10px, 3.5vh, 25px);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.numberbar_line {
  flex-grow: 1;
  min-height: 5px;
  background: #000;
}

.numberbar_circle {
  border-radius: 50%;
  width: 20px;
  min-height: 20px;
}

/* Timeline right and left border */
.timeline_item:nth-child(odd) .timeline_content {
  border-left-width: 5px;
  border-left-style: solid;
}
.timeline_item:nth-child(even) .timeline_content {
  border-right-width: 5px;
  border-right-style: solid;
}
/* Timeline Page */
.timeline_page {
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
}

/* Timeline container */
.timeline_container {
  margin: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* styling changing based on odd even */
.timeline_item:nth-child(odd) {
  align-self: flex-end;
  text-align: left;
}
.timeline_item:nth-child(even) {
  text-align: right;
}

.timeline_item:nth-child(odd) h1 {
  flex-direction: row;
}

.timeline_item:nth-child(even) .timeline_heading {
  align-self: flex-end;
}

/* Timline Each Item */
.timeline_item {
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.16);
  background: rgba(0, 1, 53, 0.253);
  width: 50%;
  backdrop-filter: blur(12px);
  color: white;
}

.timeline_content {
  padding: 30px 20px;
  position: relative;
  display: flex;
  flex-direction: column;

  row-gap: clamp(10px, 4vh, 20px);
  backdrop-filter: blur(10px);
  color: white;
}

.timeline_heading {
  font-size: 20px;
  width: fit-content;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(1px);
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  border-right: 5px solid green;
}

.timeline_heading p {
  font-size: clamp(10px, 4vh, 30px);
  padding: 5px;
  letter-spacing: 1.5px;
  margin: 0 10px 0 0;
}

.timeline_heading > div {
  flex-basis: 20%;
}

.timeline_topic {
  font-size: clamp(7px, 4vh, 25px);
}

.timeline_para {
  font-size: clamp(7px, 3.8vh, 16px);
}

.main_heading {
  font-size: clamp(15px, 7vh, 45px);
}
.timeline_image {
  width: 80%;
  margin: 0px auto;
}
@media screen and (max-width: 767px) {
  .timeline_item {
    width: 100%;
  }
  .timeline_image {
    width: 100%;
    margin: 0px auto;
  }
  .timeline_item:nth-child(even) .numberbar {
    flex-direction: row;
  }
  .timeline_item:nth-child(odd) .numberbar {
    flex-direction: row;
  }

  .timeline_item:nth-child(even) {
    align-self: flex-start;
    text-align: left;
  }
  .timeline_item:nth-child(odd) {
    text-align: left;
  }

  .timeline_item:nth-child(even) h1 {
    flex-direction: row;
  }

  .timeline_item:nth-child(odd) .timeline_heading {
    align-self: flex-start;
  }
  .timeline_item:nth-child(even) .timeline_heading {
    align-self: flex-start;
  }
  .timeline_item .timeline_content {
    border-left-width: 5px;
    border-left-style: solid;
    border-right: unset !important;
  }
}
